*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

:root {
  --red: #f44336;
  ---gray: #757575;
}

/* Header */

.navbar {
  width: 100%;
  position: fixed;
  height: 100px;
  background-color: #000;
  margin-left: -10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}

.navbar__menu {
  width: 60%;
  background-color: var(---gray);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -10px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* display: none; */
}

.navbar__menu--heading {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navbar__menu--heading h3, .navbar h3 {
  text-transform: uppercase;
  font-weight: 600;
}

.navbar__menu--heading i {
  font-weight: 700;
}

.navbar__menu--items {
  margin: 30px 0;
  list-style: none;
}

.navbar__menu--items li {
  margin: 30px 0;
}

.navbar__menu--footer {
  list-style: none;
}

.navbar__menu--footer li {
  margin: 20px 0;
}
